.carousel-prev,.carousel-next{
    width: 36px;
    height: 36px;
    background-color: yellow;
    border-radius: 50%;
    color: blue;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    
}
.carousel-prev{
    left: 10px;
    
}
.carousel-next{
    right: 24px;
    
}